
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3"></h1>
        <p class="lead">@ViewBag.Product.ProductName</p>
        <hr class="my-2">
        <p>@ViewBag.Product.ProductDetails</p>
        <p class="lead">
            <div class="mt-4 d-flex justify-content-between">
                <a href="/AddProduct" class="btn btn-outline-info">Add Product</a>
                <a href="/AddCategory" class="btn btn-outline-primary">Add Category</a>
                <a href="/Logout" class="btn btn-outline-danger btn-md">logout</a>
        </div> 
        </p>
    </div>
</div>
}